body{
    margin: 0px;
    text-align: center;
    color: #40514e;

}
.top-container{
    
    
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}
h1{
    font-size: 5.65rem;
    font-family: sacramento,cursive;
    margin: 50px auto 0 auto;
    color: #66bfbf;
    
}
h2{
    color: #66bfbf;
    font-weight: normal;
    font-family: Monteserrat,sans-serif;
    padding-bottom: 10px;

}
h3{
    color: #11999e;
  font-family: Monteserrat,sans-serif;
}
hr{
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto 100px auto;

}
.middle-container{
    margin: 100px 0 100px 0;
    
}
.bottom-container{
    
    background-color: #66bfbf;
    padding: 50px 0 30px;
}
.contact-mesg{
    width: 40%;
    margin: 40px auto 60px;
    
}
.skills{
    
}
.skill-row{
    width: 50%;
    
    margin: 100px auto 100px 450px;
    text-align: left;
    
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;

}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}
a{
    color: #11999e;
    margin: 10px 20px 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #eaf6f6;
}
.copy-right{
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}
#pro{
    width: 200px;
    height: 200px;

}
#web{
    color: #66bfbf;
     font-size: 2.5rem;
}
.com{
    width: 25%;
    float: left;
    margin-right: 30px;
   
}
.chilli{
    width: 35%;
    float: right;
    margin-right:200px;
}
.intro{
    width:30%;
    margin: auto;

}
p{
    line-height: 2;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  
  